/* ---UNIVERSAL STYLING--*/

 body{
  max-width: 700px;
  margin: auto;
  }

/*---TYPOGRAPHY---*/

  h1, h2, h3, blockquote, .b {
    color: #27307f;
  }

  h1, h2, h3 {
    margin: 0;
    font-weight: normal;
  }

  p {
    line-height:   1.6em;
  }

  h1 {
    font-size: 5.063em;
  }

  h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 2.3em;
    padding-bottom: 1em;
    margin: -.5em 0 0 .5em
  }

  h3 {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  blockquote {
    margin: 0;
    font-weight: normal;
    font-size: 1.5em;
    font-style: italic;
    padding: 1.5em 0 0 0;
  }

  blockquote {
    hanging-punctuation: first;
    text-indent: -0.5em;
  }

  blockquote cite {
    color: #999;
    font-size: 0.7em;
  }

  .p1 {
    font-size: 1.4em;
  }

  .b {
		float: left;
		font-size: 4.7em;
		line-height: 0.5em;
    margin-right: 0px;
  }

/*-----VERSION ONE--*/

  .v1 {
    padding-top: 50px;
    font-family: 'Libre Baskerville', serif;
  }

  .v1 h1 {
    font-family: 'Libre Baskerville', serif;
  }
  .v1 .p1 {
    padding-bottom: 1em;
  }

  .v1 blockquote {
    line-height: 1.4
  }
  .v1 h2 {
    font-family: 'Libre Baskerville', serif;
  }

  /*-----VERSION TWO----*/

  .v2 {
    font-family: 'Lato', sans-serif;
  }


  .caps {
    text-transform: uppercase;
  }

  .v2 cite {
    font-style: normal;
    text-transform: uppercase;
  }

  .v2 p+p+p {
   text-indent:1.5em;
  }

  .v2 h2  {
    font-family: 'Lato', sans-serif;
    margin-top: .25em
  }

 .v2 h3 {
   font-family: 'Lato', sans-serif;
 }

  .v2 blockquote {
    font-family: 'Lato', sans-serif;
    text-indent: -0.3em;
 }
  /*--------VERSION THREE------*/

  .v3 {
    font-family: 'Vollkorn', serif;
  }

  .v3 h1, h2, h3, blockquote {
    font-family: 'Vollkorn', serif;
  }

  .v3 h1 {
    font-size: 6em;
  }



  hr {
      margin: 100px 0;
      height: 1px;
      background-color: #999;
      color: #999;
    }
