/*------ CSS Reset ------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*------------ MAIN STYLE ----*/
body {
  width: 80%;
  max-width: 760px;
  margin: auto;
  background-color: ivory;
  color: #333
  font-family: 'Roboto', sans-serif;
}

/*------- TYPOGRAPHY ------*/
h1, h2 {
  font-weight: normal;
  color: #519BD0;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

p, blockquote {
  margin-bottom: 1.5em;
  line-height: 1.4;
}

h1 {
  font-size: 3.827em;
  margin-top: 1.8em;
  margin-bottom: 0.2em;
}

h2 {
  font-style: normal;
  font-size: 1.8em;
  margin: 2em 0 1em 0;
}

blockquote {
  font-size: 1.2em;
  color: black;
  hanging-punctuation: first;
  text-indent: -0.44em;
}

blockquote cite {
  font-size: .80em;
  color: #333;
}

header h2 {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1.5em;
}

header p {
  font-size: 1.3em;
  font-family: 'Vollkorn', serif;
}

/*----STYLING LINKS ---*/
a{
  color: #519BD0;
  text-decoration: none;
}

a:hover {
  color: #194C87;
  border-bottom: 1px dotted;
}

/*----NAVIGATION----*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #519BD0;
  padding: 1em 0;
  font-size: 0.75em;
    font-family: 'Vollkorn', serif;
}
nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li {
  display: inline;
  margin: 20px;
  background: none;
}

nav a {
  color: ivory;
}

nav a:hover {
  border-bottom: none;
  color: #E2F3FF;
  transition: all 0.3s ease-in-out;
}


/*----STYLING TABLE-----*/
table {
  margin: auto;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  margin: 1.5em 0;
  text-transform: uppercase;
}

th {
  color: ivory;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  background: #519BD0
}

th, td {
  padding: 0.6em;
}

table, td {
  background: #E2F3FF;
  border: 3px solid #519BD0;
}




/*--- FOOTER ----*/
footer {
  text-align: center;
  font-size: 0.7em;
  padding: 5em 0 6em 0;
  font-family: 'Vollkorn', serif;
}
